{% extends 'home.html' %}

{% load static %}

{% block title %}
<title>Wonder Land Trek Home</title>

{% endblock %}

{% block main_content %}

<!-- === Welcome Feild === -->

<div class="text-feild">
    <h1 class="welcome">Welcome to Wonder Peak Adventure</h1>
    <p class="para">Get Best Rates on Wonder Peak Adventure!!! Wonder Peak Adventure welcomes travelers across the globe
        to this beautiful Himalayan nation. Wonder Peak Adventure Booking is always smooth, honest and reasonable with
        us. The country consists of the unlimited natural and cultural wonders. There is abundance of the attractions.
        Country is blessed by the Mother Nature and ancient culture. Nepal Hiking Himalaya ensures great hospitality and
        quality service while arranging your wilderness adventure holiday in Nepal. We are working relentlessly towards
        sustainable Tourism in Nepal. Our team consists of the multi functional and dynamic group of enthusiastic
        travelers. The trekking guides and the field persons who have been working in the field of Nepal tourism for
        more than a decade offer unique practical oriented itineraries for the amusement of the holiday goers with us.
        Nepal Trekking Booking The experience in the mountains and geographical terrain of the Nepal ensures the great
        holiday experience for…</p>
    <a href=""><button class="read">Read More</button></a>
</div>

<!-- === Best Selling Holidays Section ==== -->
<div class="holi-sec">
    <h2 class="best">Best Selling Holidays</h2>
    <p class="try-us">Are you Searching for Best Trekking & Tour Packages ? Try us!!</p>
</div>
<div class="best-sell">
    <div class="best-box">
        <div class="box-image">
            <img src="{% static 'images/everestbase.jpg' %}" alt="">
        </div>
        <div class="box-text">
            <a href="" class="container-h2">Everest Base Camp</a>
            <h3 class="time">ESTIMATED TIME - 14 Days</h3>
            <a href="booking.html"><button class="book">Book Now</button></a>
        </div>

    </div>
    <div class="best-box">
        <div class="box-image">
            <img src="{% static 'images/poonhill.jpg' %}" alt="">
        </div>
        <div class="box-text">
            <a href="" class="container-h2">Poon Hill Trek</a>
            <h3 class="time">ESTIMATED TIME - 8 Days</h3>
            <a href="booking.html"><button class="book">Book Now</button></a>
        </div>

    </div>
    <div class="best-box">
        <div class="box-image">
            <img src="{% static 'images/abc1.jpg' %}" alt="">
        </div>
        <div class="box-text">
            <a href="" class="container-h2">Annapurna Base Camp</a>
            <h3 class="time">ESTIMATED TIME - 12 Days</h3>
            <a href="booking.html"><button class="book">Book Now</button></a>
        </div>

    </div>
</div>

<!-- === Popular Package Section === -->
<div class="pack-sec">
    <h2 class="pack">Popular Package</h2>
    <p class="try-us1">Are you Searching for Best Trekking & Tour Packages ? Try us!!</p>
</div>
<div class="pack-sell">
    <div class="pack-box">
        <div class="pack-image">
            <img src="{% static 'images/everestbase.jpg' %}" alt="">
        </div>
        <div class="pack-text">
            <a href="" class="container-h3">Everest Base Camp</a>
            <h3 class="time1">ESTIMATED TIME - 14 Days</h3>
            <a href="booking.html"><button class="book1">Book Now</button></a>
        </div>

    </div>
    <div class="pack-box">
        <div class="pack-image">
            <img src="{% static 'images/poonhill.jpg' %}" alt="">
        </div>
        <div class="pack-text">
            <a href="" class="container-h3">Poon Hill Trek</a>
            <h3 class="time1">ESTIMATED TIME - 8 Days</h3>
            <a href="booking.html"><button class="book1">Book Now</button></a>
        </div>

    </div>
    <div class="pack-box">
        <div class="pack-image">
            <img src="{% static 'images/abc1.jpg' %}" alt="">
        </div>
        <div class="pack-text">
            <a href="" class="container-h3">Annapurna Base Camp</a>
            <h3 class="time1">ESTIMATED TIME - 12 Days</h3>
            <a href="booking.html"><button class="book1">Book Now</button></a>
        </div>

    </div>
    <div class="pack-box">
        <div class="pack-image">
            <img src="{% static 'images/everestbase.jpg' %}" alt="">
        </div>
        <div class="pack-text">
            <a href="" class="container-h3">Everest Base Camp</a>
            <h3 class="time1">ESTIMATED TIME - 14 Days</h3>
            <a href="booking.html"><button class="book1">Book Now</button></a>
        </div>

    </div>
    <div class="pack-box">
        <div class="pack-image">
            <img src="{% static 'images/poonhill.jpg' %}" alt="">
        </div>
        <div class="pack-text">
            <a href="" class="container-h3">Poon Hill Trek</a>
            <h3 class="time1">ESTIMATED TIME - 8 Days</h3>
            <a href="booking.html"><button class="book1">Book Now</button></a>
        </div>

    </div>
    <div class="pack-box">
        <div class="pack-image">
            <img src="{% static 'images/abc1.jpg' %}" alt="">
        </div>
        <div class="pack-text">
            <a href="" class="container-h3">Annapurna Base Camp</a>
            <h3 class="time1">ESTIMATED TIME - 12 Days</h3>
            <a href="booking.html"><button class="book1">Book Now</button></a>
        </div>

    </div>
</div>

<!-- Featured Holidays Section -->
<div class="fea-holi">
    <div class="fea-sec">
        <h2 class="fea">Featured Holidays</h2>
        <p class="try-us2">Are you Searching for Best Trekking & Tour Packages ? Try us!!</p>
    </div>
    <div class="fea-sell">
        <div class="fea-box">
            <div class="fea-image">
                <img src="{% static 'images/everestbase.jpg' %}" alt="">
            </div>
            <div class="hover-box">
                <div class="fea-text">
                    <a href="" class="container-h4">Everest Base Camp</a>
                    <h3 class="time2">ESTIMATED TIME - 14 Days</h3>
                    <a href="booking.html"><button class="book2">Book Now</button></a>
                </div>
            </div>
        </div>
        <div class="fea-box">
            <div class="fea-image">
                <img src="{% static 'images/poonhill.jpg' %}" alt="">
            </div>
            <div class="hover-box">
                <div class="fea-text">
                    <a href="" class="container-h4">Poon Hill Trek</a>
                    <h3 class="time2">ESTIMATED TIME - 8 Days</h3>
                    <a href="booking.html"><button class="book2">Book Now</button></a>
                </div>
            </div>
        </div>
        <div class="fea-box">
            <div class="fea-image">
                <img src="{% static 'images/abc1.jpg' %}" alt="">
            </div>
            <div class="hover-box">
                <div class="fea-text">
                    <a href="" class="container-h4">Annapurna Base Camp</a>
                    <h3 class="time2">ESTIMATED TIME - 12 Days</h3>
                    <a href="booking.html"><button class="book2">Book Now</button></a>
                </div>
            </div>


        </div>
        <div class="fea-box">
            <div class="fea-image">
                <img src="{% static 'images/abc1.jpg' %}" alt="">
            </div>
            <div class="hover-box">
                <div class="fea-text">
                    <a href="" class="container-h4">Annapurna Base Camp</a>
                    <h3 class="time2">ESTIMATED TIME - 12 Days</h3>
                    <a href="booking.html"><button class="book2">Book Now</button></a>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Why Us Section -->
<div class="why-us">
    <div class="wonder-peak">
        <div class="adventure">
            <h2>Why Wonder Peak Adventure?</h2>
            <p>Wonder Peak Adventure is the reliable trekking agency of Nepal. For more than a decade the agency has
                been working towards providing the best services to the people visiting Nepal.
            </p>
            <ul>
                <li>Nepal Government Licensed</li>
                <li>Over a Decade of Experience</li>
                <li>Multi Language Guides</li>
                <li>Budgeted to Luxury Trip Packages</li>
                <li>Travel Planners & Experts</li>
                <li>Experienced Crew Members</li>
                <li>Flexible Trip Policies</li>
            </ul>
        </div>
        <div class="adventure-box">
            <div class="ad-boxes">
                <div class="ad-box">
                    <i class="fa-solid fa-user-check"></i>
                    <span class="box-span">100% Customer Oriented</span>
                </div>
                <div class="ad-box1">
                    <i class="fa-solid fa-comments"></i>
                    <span class="box-span">Best Services</span>
                </div>
                <div class="ad-box2">
                    <i class="fa-solid fa-eye"></i>
                    <span class="box-span">Guaranteed Trips</span>
                </div>
            </div>
            <div class="ad-boxes down">
                <div class="ad-box down1">
                    <i class="fa-solid fa-tags"></i>
                    <span class="box-span">Reasonable Price</span>
                </div>
                <div class="ad-box1 down2">
                    <i class="fa-solid fa-gauge-high"></i>
                    <span class="box-span">Flexible To Customize Trip</span>
                </div>
                <div class="ad-box2 down3">
                    <i class="fa-solid fa-cloud-arrow-down"></i>
                    <span class="box-span">Secure Online Payment</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- === Trip Season Section === -->
<div class="trip">
    <div class="trip-title">
        <h2>Trip of the Season</h2>
        <p>Are you Searching for Best Trekking & Tour Packages ? Try us!!</p>
    </div>
    <div class="trip-sec">
        <div class="trip-image">
            <a href=""><img src="{% static 'images/everest1.jpg' %}" alt=""></a>
        </div>
        <div class="trip-text">
            <h3 class="evb">Everest Base Camp Trek - 14 Days</h3>
            <div class="trip-box">
                <div class="departure">
                    <i class="fa-solid fa-calendar"></i>
                    <span>Departure From</span>
                    <p>Kathmandu</p>
                </div>
                <div class="arrival">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Arrival to</span>
                    <p>Kathmandu</p>
                </div>
                <div class="dura">
                    <i class="fa-solid fa-timer"></i>
                    <span>Duration</span>
                    <p>14 Days</p>
                </div>
            </div>
            <div class="para">
                <p class="everest-p">Everest Base Camp Trek 14 Days is an epitome of all trekking journey. It takes
                    trekkers to an abode of world's tallest mountain Mt. Everest. Therefore, the trip is on the travel
                    bucket list of people across the globe. Book it. Nepal Hiking Himalaya ensures great memories at an
                    affordable rate. The journey never fails to satisfy your travel hunger. Moreover, it provides best
                    moments. You can share the events done at foothill of World's tallest mountain Mt. Everest for
                    generations to come. Sherpa villages,…</p>
            </div>
            <div class="button-area">
                <a href=""><button class="book-now">Book Now</button></a>
                <div class="price">
                    <p>From</p>
                    <p class="dollar">$ 1280</p>
                </div>
            </div>
        </div>
    </div>
    <div class="trip-sec">
        <div class="trip-image">
            <a href=""><img src="{% static 'images/mardi.jpg' %}" alt=""></a>
        </div>
        <div class="trip-text">
            <h3 class="evb">Mardi Himal Trek</h3>
            <div class="trip-box">
                <div class="departure">
                    <i class="fa-solid fa-calendar"></i>
                    <span>Departure From</span>
                    <p>Kathmandu</p>
                </div>
                <div class="arrival">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Arrival to</span>
                    <p>Kathmandu</p>
                </div>
                <div class="dura">
                    <i class="fa-solid fa-timer"></i>
                    <span>Duration</span>
                    <p>8 Days</p>
                </div>
            </div>
            <div class="para">
                <p class="everest-p">Mardi Himal Trek is the off the beaten trekking trail of Annapurna region of Nepal.
                    If you are planning to visit the tranquil and serene place of the Annapurna region less explored
                    then Mardi is the best option. Nepal Hiking Himalaya takes you to this awesome virgin land of Nepal
                    for the ultimate silent joy of trekking in Nepal. The journey of Mardi Himal Trek starts from the
                    scenic flight or bus drive to Pokhara. The evening filled with the clamour of the Lakeside…</p>
            </div>
            <div class="button-area">
                <a href=""><button class="book-now">Book Now</button></a>
                <div class="price">
                    <p>From</p>
                    <p class="dollar">$ 985</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- === News Section === -->
<div class="news-title">
    <div class="dot"></div>
    <h2>Recent News</h2>
</div>
<div class="news">
    <div class="news-one">
        <div class="news-image">
            <img src="{% static 'images/news1.jpg' %}" alt="news image not found">
        </div>
        <div class="news-text">
            <h2>Guide Hiring for Nepal Trekking</h2>
            <p>Are you planning to do trekking in Nepal? If yes, Guide hiring for Nepal Trekking is the most important.
                The type of guide determines…</p>
            <div class="read-more">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right"></i>
            </div>
        </div>
    </div>
    <div class="news-one two">
        <div class="image-two">
            <img src="{% static 'images/news2.jpeg' %}" alt="news image not found">
        </div>
        <div class="news-text">
            <h2>Everest View Trek 6 Days Itinerary</h2>
            <p>Everest View Trek 6 Days Itinerary helps you get best out of your trekking journey. It is one week
                adventure to the homeland of…</p>
            <div class="read-more">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right"></i>
            </div>
        </div>
    </div>
    <div class="three">
        <div class="image-three">
            <img src="{% static 'images/news3.jpeg' %}" alt="news image not found">
        </div>
        <div class="news-text">
            <h2>7 Reasons to do Everest Base Camp Trek in Nepal</h2>
            <p>Everest Base Camp Trek is probably the most listed activity in traveler's travel bucket list. To leave
                footprints at the base camp of world's…</p>
            <div class="read-more">
                <span>Read More</span>
                <i class="fa-solid fa-angles-right"></i>
            </div>
        </div>
    </div>
</div>

<!-- === Subscribe Section === -->
<div class="blue">
    <div class="tripad">
        <div class="tripad-image">
            <a href=""><img src="{% static 'images/Tripadvisor.jpg' %}" alt="image not found"></a>
        </div>
        <a href="">
            <h2>Wonder Peak Adventure</h2>
        </a>
        <div class="rating">
            <a href="">
                <p>Tripadvisor Traveler Rating</p>
            </a>
            <a href="">
                <i class="fa-solid fa-circle green"></i>
                <i class="fa-solid fa-circle green"></i>
                <i class="fa-solid fa-circle green"></i>
                <i class="fa-solid fa-circle green"></i>
                <i class="fa-solid fa-circle green"></i>
            </a>
            <a href=""><span>19 reviews</span></a>
        </div>
        <div class="review">
            <a href="">
                <p class="review-t">Recent Traveler Reviews</p>
            </a>
            <a href="">
                <p class="review-p">"Trekking to EBC for !9 days from January 16th to February 2nd will be the best .."
                    <span class="more">more</span></p>
            </a>
            <a href="">
                <p class="review-p">"Trekking to EBC for !9 days from January 16th to February 2nd will be the best .."
                    <span class="more">more</span></p>
            </a>
            <div class="read-write">
                <a href=""><span class="review-r">Read reviews</span></a>
                <a href=""><span class="review-w">Write a review</span></a>
            </div>
        </div>
    </div>
    <div class="sub">
        <p>Subscribe <br> for our Newsletter</p>
        <div class="input">
            <input type="email" placeholder="Enter your Email">
            <span>Subscribe</span>
        </div>
        <ul>
            <li>
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="" class="insta">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>

        </ul>
    </div>
</div>


{% endblock%}